<h1>Register</h1>

<form method="POST" action="{{ route('storeUser') }}">
  {{ error }}
  {{ csrfField() }}
  <div>
    <input type="text" name="username" placeholder="UserName">
  </div>

  <div>
    <input type="email" name="email" placeholder="Email">
  </div>
  <div>
    <input type="password" name="password" placeholder="Password">
  </div>
  <input type="submit">
</form>
