@layout('layouts/app')

@section('content')
<h1> {{ study.name }} </h1>
<div>{{ study.description }}</div>

<form method="POST" action="{{ route('IterationController.store', { study_id: study.id }) }}">
  {{ csrfField() }}
  <input type="text" name="name">
  <input type="date" name="started_at">
  <input type="date" name="ended_at">
  <input type="submit">
</form>
@endsection
